@font-face {
    font-family: "poppin";
    src: url(/font/poppins.ttf);
}
@font-face {
    font-family: "poppin-bold";
    src: url("/font/Poppins-SemiBold.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppin", "sans-serif";
}
html{
    scroll-behavior: smooth ;
}
p{
    font-family: "Montserrat Alternates", serif;
}
:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrop-filter-blur: blur(10px);

}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --name-color: #31511E;
    --dim-color:#696969;
    --boxshadow-color:#fff;
    --p-color:#7f7e8b;
    --card-color:#212121;
    --footer-color:#111;
    --card-info:#212121;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    // --name-color: #fff;
    --dim-color: #fff;
    --boxshadow-color:#54b61b;
    --p-color:#302e4d;
    --card-color: #4b4848;
    --footer-color:#31511e;
}
body{
    background: var(--primary-color);
    color: var(--secondary-color);
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .preloader-container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #edf2fc;
        transition: 0.5s;
        transition-delay: 0.5s;
        .aqua{
            position: relative;
            width: 500px;
            padding: 10px;
            border-radius: 50px;
            box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.075),
            0 15px 4px rgba(0, 0, 0, 0.05),
            0 10px 15px rgba(0, 0, 0, 0.05),
            inset 0 -10px 15px rgba(255, 255, 255, 0.9);
            transition: 0.5s;
            &::after{
                content: '';
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
                width: 95%;
                height: 5px;
                border-radius: 20px;
                background: #fff4;
            }
            .percent-bar{
                position: relative;
                display: block;
                width: 0%;
                height: 10px;
                background: #31511E;
                border-radius: 20px;
                .number{
                    position: absolute;
                    top: -64px;
                    right: -55px;
                    padding: 10px 15px;
                    color: #31511E;
                    border-radius: 50px 50px 50px 0;
                    box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.075),
                    0 15px 4px rgba(0, 0, 0, 0.05),
                    0 10px 15px rgba(0, 0, 0, 0.05),
                    inset 0 -10px 15px rgba(255, 255, 255, 0.9);
                }
            }
        }
        .welcome-text{
            position: absolute;
            visibility: hidden;
            opacity: 0;
            font-weight: 500;
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            transition: 0.5s;
            transition-delay: 1s;
            color: #fff;
        }
    }
    
}
#main-content{
    display: none;
    .nav-section{
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            color: var(--secondary-color);
            position: relative;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--secondary-color);
            }
            .nav-links{
                li {
                    margin: 0 15px;
                    a{
                        text-decoration: none;
                        color: var(--secondary-color);
                        position: relative;
                        transition: color 0.3s;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 100%;
                            height: 3px;
                            background: #54b61b;
                            transform: scaleX(0);
                            transition: transform 0.3s ease-in-out;
                        }
                        &:hover {
                            color: #54b61b;
                        }
                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }   
        #icon{
                width: 30px;
                height: 30px;
                cursor: pointer;
                
            }
        .menu-bar{
            display: none;
            font-size: 25px;
            color: var(--secondary-color);
            margin-left: 2rem;
        }
    }
    .hero-section{
    
        .main{
            max-width: 1300px;
            width: 100%;
            // background: cadetblue;
            padding-top: 4vh;
            min-height: fit-content;
            .hello{
                font-size: 1rem;
            }
            .name{
                font-family: "poppin-bold", sans-serif;
                color: var(--name-color);
            }
            .my-profession{
                .typing{
                    color: var(--name-color);
                    
                }
            }
            p{
                font-size: 0.8rem;
                color: var(--dim-color);
                font-weight: 300;
            }
            
            
        }
        .hero-img{
            img{
                background: #212121;
                border-radius: 50%;
                box-shadow: 0 0 25px var(--boxshadow-color);
                width: 60%;
            }
        }
    }
    .btn{
        font-size: 18px;
        font-weight: 500;
        background: var(--name-color);
        transition: all 0.3s ease;
        &:hover{
            transform: scale(1.05);
            background: var(--name-color);
        }
    }
    .hire-me{
        color: var(--secondary-color);
    }
    /*      About Section       */
    .about-section{
        .img-section{
            position: relative;
            min-width: 300px;
            height: 380px;
            background: #212121;
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                outline: 3px solid #31511E;
                top: 15px;
                left: 15px;
                z-index: -1;
            }
            img{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
            }
        }
        .info-container{
            h1{
                font-size: 30px;
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 110%;
                    left: 0;
                    background: #aaabb0;
                   
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 40%;
                    height: 3px;
                    top: calc(110% - 1px);
                    left: 0px;
                    background: #31511E;
    
                }
            }
            p{
                color: var(--secondary-color);
                font-size: 17px;
                line-height: 1.2;
                text-align: justify;  
            }
            .personal-info{
                border-bottom: 1px solid #555;
                
                    span{
                        color: var(--secondary-color);
                        letter-spacing: 1px;
                    }
                
            }
        }
    }
    
    /*      Skills Section       */
    .skills-section{
        margin-top: 10rem;
        margin-bottom: 10rem;
        h2{
            position: relative;
            font-size: 30px;
            display: inline-block;
    
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: 125%;
                left: 0;
                background: #aaabb0;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50%;
                height: 3px;
                background: #396321;
                top: calc(125% - 1px);
                left: 50%;
                transform: translateX(-50%);
            }
        }
        p{
            color: #808080;
            font-size: 14px;
        }
        .subject{
            font-size: 18px;
            font-weight: thin;
            color: #808080;
            text-transform: uppercase;
            padding-bottom: 15px;
            
        }
        .progress-bar{
            position: relative;
            width: 100%;
            height: 5px;
            background: #808080;
            border-radius: 15px;
            margin-bottom: 20px;
            
            .progress-line{
                position: absolute;
                width: 100%;
                height: 7px;
                background: #396f1b;
                border-radius: 15px;
                top: -1px;
                animation: animate 1.5s cubic-bezier(1,0.2,0.2,1) forwards;
                z-index: 10;
                
            }
            
        }
    
    }
    
    /*      Projects Section       */
    .projects-section{
        h3{
            position: relative;
            font-size: 30px;
            display: inline-block;
    
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: 125%;
                left: 0;
                background: #aaabb0;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50%;
                height: 3px;
                background: #396321;
                top: calc(125% - 1px);
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .items-links{
            .item-link{
                border: 2px solid #31511e;
                padding: 10px 30px;
                font-size: 18px;
                font-weight: 500;
                color: var(--secondary-color);
                cursor: pointer;
                transition: .4s ease;
                &:hover{
                    background: #54b61b;
                    color: #fff;
                }
            }
            .active{
                background: #54b61b;
                color: #fff;
            }
        }
        .img-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
            
            .project-img {
                position: relative;
                overflow: hidden;
                height: 15rem;
               box-shadow: 0 0 4px rgba(175, 175, 175, 0.4); 
               animation: SclAnimation .4s ease;
               &:hover img{
                transform: scale(1.1);
            }
               img{
                width: 100%;
                height: 100%;
                transition: .4s ease;
            }
            }
            
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5); 
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
                a {
                    border: 1px solid transparent;
                    text-decoration: none;
                    padding: 6px 12px;
                    transition: transform 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        background: transparent;
                        border: 1px solid #fff;
                    }
                }
            }
            
            .project-img:hover .overlay {
                opacity: 1;
            }

        }
    }

    /*      Footer Section       */
    footer{
        background:var(--footer-color) ;
        margin-top: 10rem;
        .footerContainer{
            width: 100%;
            
            .socialIcons{
                display: flex;
                justify-content: center;
                a{
                    text-decoration: none;
                    padding:  10px;
                    margin: 10px;
                    border-radius: 50%;
                    i{
                        font-size: 1.4em;
                        color: #fff;
                        opacity: 0,9;
                    }
                }
            }
        }
    }
    .footerNav{
        margin: 30px 0;
        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            li{
                a{
                    color:white;
                    margin: 20px;
                    text-decoration: none;
                    font-size: 1.3em;
                    opacity: 0.7;
                    transition: 0.5s;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }  
    .footerBottom{
        background: var(--footer-color);
        p{
            color: white;
            .designer{
                opacity: 0.7;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                margin: 0px 5px;
            }
        }
    }
     
    

}

@keyframes animate{
   from{
    width: 0;
   }
   to{
    width: 100%;
   }
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
@keyframes SclAnimation{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


@media (max-width:1200px) {
    
    .about-section{
        min-height: 55vh;
    
    }
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
        padding: 0;
        li{
            width:100%;
            text-align: center;
            margin: 10px;
            a{
                padding: 8px;
                margin: 4px;
            }
        }
    } 
     
     
}
@media (max-width:768px) {
    #main-content{
        .nav-section{
            .navbar{
                .nav-links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    background: #333;
                    text-align: center;
                    height: 0;
                    overflow: hidden;
                    transition: height 0.3s ease-in-out;
                    li {
                        margin: 10px 0;
                    }    
                }
                .menu-bar{
                    display: block;
                }
            }  
            
        }
        .hero-section{
            text-align: center;
            .main{
                flex-direction: column;
                .left{
                    order: 2;
                    .btn{
                        width: 45%;
                    }
                }
                .right{
                    order: 1;
                    margin-bottom: 2rem;
                }
            }
        }
        .about-section{
            padding: 0 2rem;
            .info-container{
                .personal-info{
                    flex: 0 0 100%;
                    max-width: 100%;
                        
                            span{
                                display: block;
                                
                            }
                        
                    
                }
            }
            .btn-container{
                padding-bottom: 3rem;
            }
        }
        .skills-section{
            padding: 0 2rem;
        }
        .projects-section{
            padding: 0 2rem;
            .items-links{
                flex-direction: column;
            }
            .img-container{
                grid-template-columns: 1fr;
            }
        }
    }
    
}

